<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/register.css">
    <title>Document</title>
</head>
<body>
    <div class="text-email">
        <input type="text" placeholder="Nombre y Apellido">
        <input type="text" placeholder="Nombre de Usuario">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="contraseña">
        <input type="password" placeholder="Confirmar contraseña">
     
    </div>
    <h1>Fecha de Nacimiento</h1>
    <div class="fecha">

        <input type="date" name="" id="">
        <input type="text" placeholder="Domicilo">
    </div>

    <h1>Perfil de usuario</h1>
   <div class="radio">
       <input type="radio" name="comprador">comprador
       <input type="radio" name="comprador">vendedor
   </div>
   <div class="checkbox">
       <h1>Intereces</h1>
       <label for=""><input type="checkbox" name="" id="">Electro</label>
       <label for=""><input type="checkbox" name="" id="">Moda</label>
       <label for=""><input type="checkbox" name="" id="">Hogar</label>
       <label for=""><input type="checkbox" name="" id="">Jugueteria</label>
       <label for=""><input type="checkbox" name="" id="">Vida sana</label>
   </div>
   <div class="botones-pie">

       <button class="boton2"><a class="enviar" href="/">Enviar</a></button>
       <button class="boton3"><a class="enviar" href="">Borrar</a></button>
   </div>
</body>
</html>